<div class="container3">
    <p>Cliente > Administración Guías > Agregar Guía</p>
      <mat-card class="Text  pt-3">
        <mat-card-header color="warn">
          <mat-card-title><b>Agregar Guía</b></mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    
    
    <div class="container2">
      <mat-card class="">
        <mat-card-header class="redText">
          <mat-card-title><b>Información de Guía</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Por favor ingrese la información solicitada para agregar una guia nueva a su lista
          </p>
        </mat-card-content>
      </mat-card>
    
    </div>
    
    <div class="contenedor1">
    
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Número de Guía">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="ODC Asociado">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Nombre de Contacto">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Remitente">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Destinatario">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Campo 6">
        </mat-form-field>
  
    
    
    <div class="btns d-flex justify-content-between align-items-center">
      <button mat-stroked-button  routerLink="/management-guides2">Cancelar</button>
    
      <button mat-raised-button class="but" routerLink="/management-guides2">Agregar Guía</button>
    </div>
    