<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="./assets/images/admin/banner_admin.png" alt="First slide">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Example headline.</h1>
          <p>Some representative placeholder content for the first slide of the carousel.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mat-elevation-z8">
  <div>
    <div class="buscar">
      <h1>Administrar Usuarios</h1>
      <form class="example-form ">
        <mat-form-field class="example-full-width">
          <span matPrefix> </span>
          <input type="tel" matInput placeholder="Buscar" name="search" [(ngModel)]="search">
          <button matSuffix mat-button><mat-icon>search</mat-icon></button>
        </mat-form-field>
        <a class="btn btn-primary addUser " href="#" >Crear Usuario</a>
        <br />
        {{search}}
      </form>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" #tabla1>
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- lastname Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <!-- lastname2 Column -->
    <ng-container matColumnDef="lastname2">
      <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname2}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Correo Primario </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- perfil Column -->
    <ng-container matColumnDef="perfil">
      <th mat-header-cell *matHeaderCellDef> Perfil </th>
      <td mat-cell *matCellDef="let element"> {{element.perfil}} </td>
    </ng-container>

    <!-- accion Column-->
    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let j = index;">
        <section>
          <div class="example-button-row">
            <div class="example-flex-container">
              <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" routerLink="/form">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" aria-label="Example icon button with a menu icon">
                <mat-icon>delete_outline</mat-icon>
              </button>
              <button mat-icon-button color="accent" aria-label="Example icon button with a heart icon">
                <mat-icon>find_in_page</mat-icon>
              </button>
            </div>
          </div>
        </section>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
