/** Boton Rojo de agregar a carrito */
.btnRed{
  background-color: #D40511;
  color: #ffffff;
  float: left;
}

/**Columna 3 de card*/
#lateral {
  width: 400px;

}

/**fondo de ahorro */
.textYellow {
  background-color: #FFCC00;
  font-size: 70%
}

/**fuente de antes */
.textSize {
  font-size: 50%
}
/** Texto Informacion Card central */
.containerInfo {
  margin: 12px;
}

/**Contenedor central*/
.container2 {
  display: flex;
  flex-direction: column;
  margin:1rem auto;
  max-width: 1000px;
}

mat-icon{
  color: #D40511;
  width: 179px;
  margin-left: 1rem;
}
