<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="./assets/images/home/dpdhl-group-insights-global-photo-shoot-thumb.png"
        alt="First slide"
      />
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>
            <strong>{{ "QUOTE" | translate }} </strong>
          </h1>
          <h2>{{ "TEXT1" | translate }}</h2>
          <h3>{{ "TEXT2" | translate }}</h3>
          <div class="input-group mb-3">
            <input
              type="number"
              class="form-control"
              placeholder="{{ 'TEXT3' | translate }}"
              aria-label="Recipient's numero"
              aria-describedby="button-addon2"
            />
          </div>
          <button class="btn btnRed" type="button" id="button-addon2">
            {{ "BTNADD" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container2">
  <mat-card class="">
    <mat-card-header class="">
      <mat-card-title>
        <h1>
          <strong>Ahorra con nuestros paquetes de guías</strong>
        </h1></mat-card-title
      >
    </mat-card-header>
  </mat-card>
</div>
<div class="container2" >
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <div style="text-align: left">
          <img mat-card-lg-image src="./assets/images/home/packages@2x.png" />
        </div>
        <div class="containerInfo">
          <mat-card-title><strong>Paquete 10</strong> </mat-card-title>
          <mat-card-content>
            {{ "PACK" | translate }}
          </mat-card-content>
        </div>
        <div id="lateral">
          <mat-card-title>
              <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option class="textYellow"> Ahorra $530 </mat-chip-option>
                <mat-chip-option class="textSize"> <small> Antes $2,490.00</small> </mat-chip-option>
              </mat-chip-listbox>

          </mat-card-title>
          <mat-card-title class="price"><strong>$ 1,960.00</strong> </mat-card-title>
          <button class="btn btnRed" type="button" id="button-addon2">
            {{ "BTNADD" | translate }}
          </button>
        </div>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <div style="text-align: left">
          <img mat-card-lg-image src="./assets/images/home/packages@2x.png" />
        </div>
        <div class="containerInfo">
          <mat-card-title><strong>Paquete 20</strong> </mat-card-title>
          <mat-card-content>
            {{ "PACK20" | translate }}
          </mat-card-content>
        </div>
        <div id="lateral">
          <mat-card-title>
              <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option class="textYellow"> Ahorra $530 </mat-chip-option>
                <mat-chip-option class="textSize"> <small> Antes $2,490.00</small> </mat-chip-option>
              </mat-chip-listbox>

          </mat-card-title>
          <mat-card-title class="price"><strong>$ 1,960.00</strong> </mat-card-title>
          <button class="btn btnRed" type="button" id="button-addon2">
            {{ "BTNADD" | translate }}
          </button>
        </div>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <div style="text-align: left">
          <img mat-card-lg-image src="./assets/images/home/packages@2x.png" />
        </div>
        <div class="containerInfo">
          <mat-card-title><strong>Paquete 40</strong> </mat-card-title>
          <mat-card-content>
            {{ "PACK40" | translate }}
          </mat-card-content>
        </div>
        <div id="lateral">
          <mat-card-title>
              <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option class="textYellow"> Ahorra $530 </mat-chip-option>
                <mat-chip-option class="textSize"> <small> Antes $2,490.00</small> </mat-chip-option>
              </mat-chip-listbox>

          </mat-card-title>
          <mat-card-title class="price"><strong>$ 1,960.00</strong> </mat-card-title>
          <button class="btn btnRed" type="button" id="button-addon2">
            {{ "BTNADD" | translate }}
          </button>
        </div>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <div style="text-align: left">
          <img mat-card-lg-image src="./assets/images/home/packages@2x.png" />
        </div>
        <div class="containerInfo">
          <mat-card-title><strong>Paquete 60</strong> </mat-card-title>
          <mat-card-content>
            {{ "PACK60" | translate }}
          </mat-card-content>
        </div>
        <div id="lateral">
          <mat-card-title>
              <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option class="textYellow"> Ahorra $530 </mat-chip-option>
                <mat-chip-option class="textSize"> <small> Antes $2,490.00</small> </mat-chip-option>
              </mat-chip-listbox>

          </mat-card-title>
          <mat-card-title class="price"><strong>$ 1,960.00</strong> </mat-card-title>
          <button class="btn btnRed" type="button" id="button-addon2">
            {{ "BTNADD" | translate }}
          </button>
        </div>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <div style="text-align: left">
          <img mat-card-lg-image src="./assets/images/home/packages@2x.png" />
        </div>
        <div class="containerInfo">
          <mat-card-title><strong>Paquete 80</strong> </mat-card-title>
          <mat-card-content>
            {{ "PACK80" | translate }}
          </mat-card-content>
        </div>
        <div id="lateral">
          <mat-card-title>
              <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option class="textYellow"> Ahorra $530 </mat-chip-option>
                <mat-chip-option class="textSize"> <small> Antes $2,490.00</small> </mat-chip-option>
              </mat-chip-listbox>

          </mat-card-title>
          <mat-card-title class="price"><strong>$ 1,960.00</strong> </mat-card-title>
          <button class="btn btnRed" type="button" id="button-addon2">
            {{ "BTNADD" | translate }}
          </button>
        </div>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <div style="text-align: left">
          <img mat-card-lg-image src="./assets/images/home/packages@2x.png" />
        </div>
        <div class="containerInfo">
          <mat-card-title><strong>Paquete 100</strong> </mat-card-title>
          <mat-card-content>
            {{ "PACK100" | translate }}
          </mat-card-content>
        </div>
        <div id="lateral">
          <mat-card-title>
              <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option class="textYellow"> Ahorra $530 </mat-chip-option>
                <mat-chip-option class="textSize"> <small> Antes $2,490.00</small> </mat-chip-option>
              </mat-chip-listbox>

          </mat-card-title>
          <mat-card-title class="price"><strong>$ 1,960.00</strong> </mat-card-title>
          <button class="btn btnRed" type="button" id="button-addon2">
            {{ "BTNADD" | translate }}
          </button>
        </div>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>

  <div>

  </div>

  <mat-card *ngFor="let product of products">
    <mat-card-content>
      {{ product.name }} - {{ product.price }}
      <button mat-button (click)="selectProduct(product)">Add to Cart</button>
    </mat-card-content>
  </mat-card>
</div>
