table  {
    width: 90%;
    margin:1rem auto;
  }
  
  .contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 600px;
    box-shadow: -1px 3px 66px 0px rgba(0,0,0,0.75);
    padding: 1rem;
  }
  
  .buscar{
    width: 87%;
    top: 50%;
    margin:1rem auto;
  }
  
  .paginator{
    width: 90%;
  }
  
  .addUser{
    
    float: right;
  }
  

  .container3 {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 800px;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    margin:3rem auto;
    max-width: 600px;
  }
  
  .contenedor1 {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 400px;
  }

  .btns {
    display: flex;
    flex-direction: row;
    margin:2rem auto;
    max-width: 250px;
  }

  .titulo {
    color: #000000;
  }

  .but{
    background-color: #CC120F;
    color: #ffffff;
    float: right;
  }