<div class="div-pather-add-template">
    <div class="div-direction-nav">
        <p class="p-first-direction">Reportes</p>
        <p>></p>
        <p class="p-last-direction">Agregar plantilla</p>
    </div>
    <div class="div-title-page-and-btn">
        <mat-card-title class="title-add-edit-template">
            agregar plantilla
        </mat-card-title>
        <div class="div-btn-upload-template">
            <button mat-raised-button class="button-upload-csv" color="warn">
                <div class="icon-upload">
                    <div class="icons">
                        <mat-icon class="icon-arrow">arrow_upward</mat-icon>
                        <mat-icon class="icon-underline">maximize</mat-icon>
                    </div>
                </div>
                <p class="text-upload-csv">Cargar plantilla</p>
            </button>
        </div>
    </div>
    <div class="div-text-seelct-elements">
        <p>Seleccione los elementos que dese ver en su reporte, o suba su plantilla en formato CSV</p>
    </div>
    <div class="div-items-elemts">
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="fcv">
            <label for="fcv" class="element">
                <p class="name-element">
                    Fecha de Compra/Venta
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="cuenta">
            <label for="cuenta" class="element">
                <p class="name-element">
                    Cuenta
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="ttransaccion">
            <label for="ttransaccion" class="element">
                <p class="name-element">
                    Tipo transacción
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="nfactura">
            <label for="nfactura" class="element">
                <p class="name-element">
                    Número de factura
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="nrefactura">
            <label for="nrefactura" class="element">
                <p class="name-element">
                    Número de refactura
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="fechafactura">
            <label for="fechafactura" class="element">
                <p class="name-element">
                    Fecha de factura
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="ffacturaant">
            <label for="ffacturaant" class="element">
                <p class="name-element">
                    Fecha de factura anterior
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="nordencomp">
            <label for="nordencomp" class="element">
                <p class="name-element">
                    Número de Orden de compra
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="numcot">
            <label for="numcot" class="element">
                <p class="name-element">
                    Número de cotización
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="imporc">
            <label for="imporc" class="element">
                <p class="name-element">
                    Importe de la Orden de compra
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="impcot">
            <label for="impcot" class="element">
                <p class="name-element">
                    Importe de la cotización
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="nomcliente">
            <label for="nomcliente" class="element">
                <p class="name-element">
                    Nombre del cliente
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="nomvended">
            <label for="nomvended" class="element">
                <p class="name-element">
                    Nombre del vendedor
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="rfcclie">
            <label for="rfcclie" class="element">
                <p class="name-element">
                    RFC del cliente
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="correoclie">
            <label for="correoclie" class="element">
                <p class="name-element">
                    Correo del cliente
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="telclien">
            <label for="telclien" class="element">
                <p class="name-element">
                    Teléfono del cliente
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="rangogui">
            <label for="rangogui" class="element">
                <p class="name-element">
                    Rango de guías
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="canalcomvent">
            <label for="canalcomvent" class="element">
                <p class="name-element">
                    Canal de compra o venta
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="estatusguia">
            <label for="estatusguia" class="element">
                <p class="name-element">
                    Estatus de la guía
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="fechaguiaven">
            <label for="fechaguiaven" class="element">
                <p class="name-element">
                    Fecha de guía vencida
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="fechaguiaporve">
            <label for="fechaguiaporve" class="element">
                <p class="name-element">
                    Fecha de guía por vencer
                </p>
            </label>
        </div>
        <div>
            <input type="checkbox" class="checkbox-element" name="" id="porceusopcocom">
            <label for="porceusopcocom" class="element">
                <p class="name-element">
                    Porcentaje de uso por cada Orden de compra
                </p>
            </label>
        </div>
        
    </div>
    <div class="div-btn-save-template">
        <button class="btn-save-template" routerLink="/clients/reports" mat-raised-button color="warn">Guardar plantilla</button>
    </div>
</div>