<div class="container3">
    <mat-card class="Text">
      <mat-card-header color="warn">
        <mat-card-title>Agregar Cliente</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  
  
  <div class="container2">
    <mat-card class="">
      <mat-card-header class="redText">
        <mat-card-title>Informacion de Cliente</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Por favor ingrese la información solicitada para agregar un cliente nuevo a su lista
        </p>
      </mat-card-content>
    </mat-card>
  
  </div>
  
  <div class="contenedor1">
  
    <mat-form-field>
      <input matInput type="text" placeholder="Nombre de la Empresa">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="País o Region">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="Calle y número">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="Departamento, torre, edificio, piso, etc">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="Codigo Postal">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="Colonia">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Ciudad">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Estado">
      </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="¿Es cliente Recurrente?">
      </mat-form-field>
  </div>
  


  <div class="container2">
    <mat-card class="">
      <mat-card-header class="redText">
        <mat-card-title>Informacion de Contacto</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Es la información de la persona con quien se tiene comunicación directa con la empresa
        </p>
      </mat-card-content>
    </mat-card>
  
  </div>
  
  <div class="contenedor1">
  
    <mat-form-field>
      <input matInput type="text" placeholder="Nombre Completo">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="Dirección de correo electronico">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="Número de Teléfono">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="Extensión">
    </mat-form-field>
  
  </div>

  
  
  
  
  <div class="btns d-flex justify-content-between align-items-center">
    <button mat-stroked-button color="warn" routerLink="/management-clients">Cancelar</button>
  
    <button mat-raised-button color="warn" routerLink="/management-clients">Agregar Cliente</button>
  </div>
  