<div  class="container2 container-fluid">
<div class="blackText pt-1"> <b>Orden de compra generada con éxito</b> </div> 
<div class=" px-1  d-flex" mat-dialog-content>
    
    <img class="icon2" src="./assets/images/clients/check.png"/>
    <label  class=" pt-2">Recuerde revisar el correo con las instrucciones para realizar su pago y poder utilizar sus guías.</label>
</div>

<div class="btns d-flex justify-content-between align-items-center" mat-dialog-actions>
  <button class="but" mat-raised-button mat-dialog-close  (click)="closeDialog()">Aceptar</button>
</div>
</div>


