<div class="container3">
  <p>Cliente > Administrar Clientes > Consultar Información</p>
    <mat-card class="Text pt-3">
      <mat-card-header color="warn">
        <mat-card-title><b>Consultar Información</b></mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  
  
  <div class="container2">
    <mat-card class="">
      <mat-card-header class="redText">
        <mat-card-title><b>Información de Cliente</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Detalle de un cliente
        </p>
      </mat-card-content>
    </mat-card>
  
  </div>
  
  <div class="contenedor1">
  
 
    <mat-form-field>
     
      <input matInput type="text" placeholder="Nombre de la Empresa" value="Praxis IT" readonly> 
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="País o Region" value="México" readonly>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="Calle y número" value="Insurgentes Sur 4" readonly>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="Departamento, torre, edificio, piso, etc" value="Torre B" readonly> 
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="Codigo Postal" value="06600" readonly>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="Colonia" value="Anzures" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Ciudad" value="México" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Estado" value="México" readonly>
      </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="¿Es cliente Recurrente?" value="SI" readonly>
      </mat-form-field>
  </div>
  


  <div class="container2">
    <mat-card class="">
      <mat-card-header class="redText">
        <mat-card-title><b>Información de Contacto</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Es la información de la persona con quien se tiene comunicación directa con la empresa
        </p>
      </mat-card-content>
    </mat-card>
  
  </div>
  
  <div class="contenedor1">
  
    <mat-form-field>
      <input matInput type="text" placeholder="Nombre Completo" value="Carol Mtz" readonly> 
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="Dirección de correo electronico" value="i.marinez@praxisglobe.net" readonly>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="Número de Teléfono" value="55 27 58 23 12" readonly> 
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="text" placeholder="Extensión" value="123" readonly>
    </mat-form-field>
  
  </div>

  

  
  <div class="btns d-flex justify-content-between align-items-center">
    <button mat-stroked-button class="but" routerLink="/clients/management-clients">Regresar</button>
  
  </div>
  