  <div class="mat-elevation-z8">
    <div>
      <div class="buscar titulo pt-2">
        <p>Cliente > Administrar Clientes</p>
        <h1 class="pt-2"><b>Administrar Clientes</b></h1>
        <form class="example-form pt-2">
          <mat-form-field color="red" class="example-full-width" appearance="outline">
            <span matPrefix> </span>
            <button class="iconRed" matPrefix mat-button><mat-icon>search</mat-icon></button>
            <input type="tel" matInput placeholder="Buscar" name="search" [(ngModel)]="search">
          </mat-form-field>

          <button class="addUser" mat-raised-button routerLink="/formAddClient" aria-label="Example icon button with a menu icon">
            Agregar Cliente
          </button>
          <br />
          {{search}}
        </form>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource" #tabla1>
      <!-- Position Column -->
      <ng-container matColumnDef="nombreEmpresa">
        <th mat-header-cell *matHeaderCellDef> <b> Nombre de la empresa </b> </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreEmpresa}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="paisRegion">
        <th mat-header-cell *matHeaderCellDef> <b>  Pais/Region </b></th>
        <td mat-cell *matCellDef="let element"> {{element.paisRegion}} </td>
      </ng-container>

         <!-- Name Column -->
         <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef> <b>  Dirección </b></th>
            <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
          </ng-container>

             <!-- Name Column -->
      <ng-container matColumnDef="nombreContacto">
        <th mat-header-cell *matHeaderCellDef> <b> Nombre Contacto </b> </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreContacto}} </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> <b>Correo Electrónico </b> </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- perfil Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> <b> Teléfono </b> </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <!-- accion Column-->
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Acciones </b></th>
        <td mat-cell *matCellDef="let j = index;">
          <section>
            <div class="example-button-row text-center">
              <div class="example-flex-container center">
                <button mat-icon-button class="iconBlue" aria-label="Example icon button with a home icon" routerLink="/formEditClient">
                  <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button class="iconRed" aria-label="Example icon button with a menu icon" (click)="openDialogDelete()">
                  <mat-icon>delete_outline</mat-icon>
                </button>

                <button mat-icon-button class="iconYellow" aria-label="Example icon button with a home icon" routerLink="/formDetailClient">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </div>
          </section>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
