.topPage{
  padding: auto;
}

table  {
  width: 90%;
  margin:1rem auto;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

.contenedor {
  display: flex;
  flex-direction: column;
  margin:1rem auto;
  max-width: 600px;
  box-shadow: -1px 3px 66px 0px rgba(0,0,0,0.75);
  padding: 1rem;
}

.buscar{
  width: 87%;
  top: 50%;
  margin:1rem auto;
}

.paginator{
  width: 90%;
}

mat-icon{
  color: #D40511;
}

/**Boton Nuevo Usuario*/
.btnRed{
  background-color: #D40511;
  color: #ffffff;
  float: right;
  margin: -55px 17px 0px 0px;
  width: 160px;
}

/**Boton Descarga CSV*/
.btnDown{
  color: #D40511;
  float: right;
  margin-right: 1rem;
  border: 1px solid #D40511;
  width: 160px;
}

/**Boton Bloquear Usurio POPUP*/
.btnRedPop{
  background-color: #D40511;
  color: #ffffff;
  float: right;
  width: 160px;
}

.dateStyle{
  width: 260px;
}

/**Color mat-form-field -begin*/
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #D40511 !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #D40511 !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #D40511 !important;
}

.mat-form-field {
    /*change color of label when focused*/
    color: #D40511 !important;
   }
/**Color mat-form-field -end*/
