body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #B0BEC5;
  background-repeat: no-repeat;
}

.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 0px;

}

.card2 {
  margin: 0px 40px;
}

.card3 {
  margin: 0px 110px;

  position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);

}


.logo {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 35px;
}

.image {
  width: 360px;
  height: 280px;
}

.border-line {
  border-right: 1px solid #EEEEEE;
}

.facebook {
  background-color: #3b5998;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.twitter {
  background-color: #1DA1F2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.linkedin {
  background-color: #2867B2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.line {
  height: 3px;
  width: 10%;
  background-color: #D40511;
  margin-top: 10px;
}

.or {
  width: 80%;
  font-weight: bold;
  color: #D40511;
}

.text-gray {
  width: 80%;
  font-weight: bold;
  color: #757575;
  font-size: 16px !important;

}

.text-sm {
  font-size: 14px !important;
}

.text-md {
  font-size: 28px !important;
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
}

:-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

::-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

input, textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px;
}

input:focus, textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 2px solid #D40511;
  outline-width: 0;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

.btn-blue {
  background-color: #D40511;
  width: 500px;
  color: #fff;
  border-radius: 5px;
}

.btn-blue:hover {
  background-color: #757575;
  cursor: pointer;
}

.bg-yellow {
  color: #D40511;
  background: linear-gradient(45deg, #F8C709, #fcf196);
}

.bg-red {
  color: #fff;
  background-color: #D40511;
}

@media screen and (max-width: 991px) {
  .logo {
      margin-left: 0px;
  }

  .image {
      width: 300px;
      height: 220px;
  }

  .border-line {
      border-right: none;
  }

  .card2 {
      border-top: 1px solid #EEEEEE !important;
      margin: 0px 15px;
  }
}




.title-login-guides{
  color: #000;
  font-weight: 900;
}

.text-login{
  letter-spacing: 1px;
}

.input-email-user::placeholder, 
.input-password::placeholder{
  color: #000;
 }

 .text-forgotten-pass{
  color: #D40511;
 }

 .mat-checkbox-checked.mat-accent
  .mat-checkbox-background {
  background-color: black !important;
}

 .checkbox-session-strarting{
  width: 45px !important;

}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  width: 20px;
  height: 20px;
  background-color: #ffff;
  color: silver;
}

.tittle-create-account{
  display: inline-block;
  text-decoration: underline;
  color: #D40511;
  cursor: pointer;
  padding-top: 15px;
}


.div-input-form-login{
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.div-input-form-login > input{
  width: 100%;
}

.div-password{
  position: relative;
}

.input-form-login{
  width: 100% !important;
  margin: none !important;
}

mat-icon{
  margin-left: 0px !important;
  padding: 0px !important;
}

.show-password-icon{
  position: absolute;
  right: 10px;
  top:10px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.show-password-icon:hover{
  background-color: #B0BEC5;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: black !important;
}

.btn-login-form:hover{
  background-color: #720006;
}