<div class="content">
    <div class="content_title pt-3">
        <p class="content_title-navigation"> Cliente &nbsp; &nbsp;>&nbsp; &nbsp;Impresión</p>
        <h1 class="content_title-main"> Impresión </h1>  
    </div>
    
    <mat-stepper
        class="example-stepper"
        [orientation]="(stepperOrientation | async)!"
        labelPosition="bottom">
  
        <mat-step [stepControl]="firstFormGroup" label="Remitente">
          <form [formGroup]="remitenteForm" class="mt-4" >
            <h2 class="content_title-red ">Datos del remitente</h2>
            <label class="label-title-gray">Seleccione la dirección del remitente o agregue una.</label>
            <div class="contenedor container-fluid">
              <label class="label-title-black mb-4">Mi libreta de direcciones.</label>
              
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                formControlName="addressSelect" (ngModelChange)="onChangeAddress($event)" >
                <button type="button" class="btn btn-light btnMostrarAll" (click)="mostrarAlldirecciones('remitente')" [ngClass]="{'show': showButtonChangeAddres, 'hide': !showButtonChangeAddres }">Cambiar</button>
                <mat-radio-button class="example-radio-button mb-3" *ngFor="let address of addressBook" 
                  [value]="address.razonSocial" 
                  [ngClass]="{'show': address.default, 'hide': !address.default}">
                  <div>
                    <p class="radio-title mb-1">{{address.razonSocial}}</p>
                    <p class="radio-detail mb-0">{{ this.getDireccion(address) }}</p>
                    <a href="#">Editar Información</a>
                  </div>
                </mat-radio-button>                
              </mat-radio-group>
              <div>
                <button mat-icon-button class="remitente_btn-address" (click)="showFormAddress('remitente')">
                  <mat-icon svgIcon="add_address"></mat-icon>
                </button><p class="remitente_btn-address">Agregar dirección</p>
                <div *ngIf="showAddAddress == true">
                  <h1 class="label-title-black mt-4 mb-4">Nueva dirección</h1>
                  <app-address-form></app-address-form>
                  <footer class="formAddresFooter">
                    <button class="m-2 footer-btnWhite" mat-stroked-button>Cancelar</button>
                    <button class="but m-2 footer-btnRed" mat-raised-button>Agregar</button>
                  </footer>
                </div>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Destinatario">
          <form [formGroup]="destinatarioForm" class="mt-4" >
            <h2 class="content_title-red ">Datos del destinatario</h2>
            <label class="label-title-gray">Seleccione la dirección del destinatario o agregue una.</label>
            <div class="contenedor container-fluid">
              <label class="label-title-black mb-4">Mi libreta de direcciones.</label>
              
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                formControlName="addressDestinarioSelect" (ngModelChange)="onChangeAddressDestinatario($event)" >
                <button type="button" class="btn btn-light btnMostrarAll" (click)="mostrarAlldirecciones('destinatario')" [ngClass]="{'show': showButtonChangeAddresDestinatario, 'hide': !showButtonChangeAddresDestinatario }">Cambiar</button>
                <mat-radio-button class="example-radio-button mb-3" *ngFor="let address of addressBookDestinatario" 
                  [value]="address.razonSocial" 
                  [ngClass]="{'show': address.default, 'hide': !address.default}">
                  <div>
                    <p class="radio-title mb-1">{{address.razonSocial}}</p>
                    <p class="radio-detail mb-0">{{ this.getDireccion(address) }}</p>
                    <a href="#">Editar Información</a>
                  </div>
                </mat-radio-button>                
              </mat-radio-group>
              <div>
                <button mat-icon-button class="remitente_btn-address" (click)="showFormAddress('destinatario')">
                  <mat-icon svgIcon="add_address"></mat-icon>
                </button><p class="remitente_btn-address">Agregar dirección</p>
                <div *ngIf="showAddAddressDestinatario == true">
                  <h1 class="label-title-black mt-4 mb-4">Nueva dirección</h1>
                  <app-address-form></app-address-form>
                  <footer class="formAddresFooter">
                    <button class="m-2 footer-btnWhite" mat-stroked-button>Cancelar</button>
                    <button class="but m-2 footer-btnRed" mat-raised-button>Agregar</button>
                  </footer>
                </div>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" label="Confirmar información">
            <div class="contenedor container-fluid">
              <p class="label-title-black mb-4 mt-4">Todas las guías seleccionadas para imprimir aparecerán con los datos
                  ingresados en los pasos anteriores.
              </p>
              <mat-card>
                <mat-card-content>
                  <h2 class="content_title-red ">Productos disponibles</h2>
                </mat-card-content>
              </mat-card>
              <mat-card>
                <mat-card-content>
                  <h2 class="content_title-red ">Información del remitente</h2>
                </mat-card-content>
              </mat-card>
              <mat-card>
                <mat-card-content>
                  <h2 class="content_title-red ">Información del destinatario</h2>
                </mat-card-content>
              </mat-card>
            </div>
        </mat-step>
    </mat-stepper>
  </div>
  