<div class="container3">
    <p>Cliente > Administración Guías > Editar Guía</p>
      <mat-card class="Text  pt-3">
        <mat-card-header color="warn">
          <mat-card-title><b>Editar Guía</b></mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    
    
    <div class="container2">
      <mat-card class="">
        <mat-card-header class="redText">
          <mat-card-title><b>Información de Guía</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Por favor modifique la información solicitada para editar una guía
          </p>
        </mat-card-content>
      </mat-card>
    
    </div>
    
    <div class="contenedor1">
    
        <mat-form-field>
       
            <input matInput type="text" placeholder="Número de Guía" value="00001" > 
          </mat-form-field>
        
          <mat-form-field>
            <input matInput type="text" placeholder="ODC Asociado" value="00001" >
          </mat-form-field>
        
          <mat-form-field>
            <input matInput type="text" placeholder="Nombre de Contacto" value="campo 3" >
          </mat-form-field>
        
          <mat-form-field>
            <input matInput type="text" placeholder="Remitente" value="Juan López" > 
          </mat-form-field>
        
          <mat-form-field>
            <input matInput type="text" placeholder="Destinatario" value="Mariana Orozco" >
          </mat-form-field>
      
          <mat-form-field>
              <input matInput type="text" placeholder="Campo6" value="Campo 6" >
            </mat-form-field>
    
    
    
    
    <div class="btns d-flex justify-content-between align-items-center">
      <button mat-stroked-button routerLink="/management-guides2">Cancelar</button>
    
      <button mat-raised-button  class="but" routerLink="/management-guides2">Guardar Cambios</button>
    </div>
    