.bg-yellow {
  color: #CC120F;
  background: linear-gradient(45deg, #F8C709, #fcf196);
}

.labelNav{
  margin-top: 10px;
  color: black;
}

header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
}

select,
option {
  color: #D40511;
}



.demo-section + .demo-section {
  margin-top: 16px;
}
