.container3 {
  display: flex;
  flex-direction: column;
  margin:1rem auto;
  max-width: 800px;
}
.container2 {
  display: flex;
  flex-direction: column;
  margin:3rem auto;
  max-width: 600px;
}

.contenedor1 {
  display: flex;
  flex-direction: column;
  margin:1rem auto;
  max-width: 400px;
}

.btns {
  display: flex;
  flex-direction: row;
  margin:2rem auto;
  max-width: 250px;
}

.btn4 {
  display: flex;
  flex-direction: row;
  margin:2rem auto;
  max-width: 600px;


}

.casilla {
  height: 5rem;
  margin: 0.5rem;
  width: 14rem;
}

.casilla2 {
  height: 5rem;
  margin: 0.5rem;
  width: 14rem;
}
.casilla3 {
  height: 5rem;
  margin: 0.5rem;
  width: 14rem;
}
.casilla4 {
  height: 5rem;
  margin: 0.5rem;
  width: 14rem;
}
.casilla5 {
  height: 5rem;
  margin: 0.5rem;

}
.redText{
  color: #D40511;
  font-size: 2rem;
}
.Text{
  color: #000000;
  font-size: 2rem;
}

.btnRed{
  background-color: #D40511;
  color: #ffffff;
  float: right;
}
mat-icon{
  color: #D40511;
}
