.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

mat-card {
  margin-top: 20px;
  width: 60%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 3rem;
}

mat-icon{
  color: #D40511;
}

.managment_profiles-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.managment_profiles-btnAddRol {
  width: 10rem;
  height: 3rem;
  margin: 0px;

  background-color: #D40511;
  color: #ffffff;
}

table  {
  width: 100%;
  margin:1rem auto;
  border-top: 2px solid #999999 !important;
  border-bottom: 2px solid #999999 !important;
  text-align: left;
}

table th {
  text-align: left;
  color: #000000;
}

@media (max-width: 767px) {
  .managment_profiles-btnAddRol {
    width: 90%;
  }

  mat-card {
    width: 100%;
  }
}