.container3 {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  max-width: 1000px;
}
.container2 {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  max-width: 550px;
}
.contenedor1 {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  max-width: 550px;
}

.redText {
  text-align: left;
  font: normal normal bold 24px/40px Delivery App;
  letter-spacing: 0px;
  color: #d40511;
  opacity: 1;
}
.Text {
  text-align: left;
  font: normal normal bold 40px/40px Delivery App;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
mat-grid-tile {
  background: lightsalmon;
}
