<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="./assets/images/home/dpdhl-group-insights-global-photo-shoot-thumb.png"
        alt="First slide"
      />
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Rastree sus guias</h1>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa el numero de guia"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
            />
            <button class="btn btnRed" type="button" id="button-addon2">
              Rastrear
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container2">
  <mat-card class="">
    <mat-card-header class="redText">
      <mat-card-title><h1>¿Que desea hacer hoy?</h1></mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
<div style="text-align: center">
  <button mat-stroked-button class="casilla2">
    <div class="row">
      <mat-icon>local_printshop </mat-icon>
    </div>
    <div class="row">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Impresión</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </button>
  <button mat-stroked-button class="casilla2">
    <div class="row">
      <mat-icon>add_shopping_cart</mat-icon>
    </div>
    <div class="row">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Comprar guías</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div></button
  ><button mat-stroked-button class="casilla2">
    <div class="row">
      <mat-icon>person_add </mat-icon>
    </div>
    <div class="row">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Agregar Cliente</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div></button
  ><button mat-stroked-button class="casilla2">
    <div class="row">
      <mat-icon>book </mat-icon>
    </div>
    <div class="row">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Manual de Usuario</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </button>
</div>
